name: "CI for Azure Container Apps deployment"

on:
  pull_request:
    types: [opened, synchronize, reopened, closed]

env:
  CONTAINER_REGISTRY: ghcr.io/torqit/pimcore-github-actions-workflows

jobs:
  provision-azure-resources:
    name: "Provision Azure resources"
    runs-on: ubuntu-latest
    environment: ci
    if: github.event.action != 'closed'
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up tools
        uses: ./.github/actions/setup-tools

      - name: Prepare Azure parameters
        run: |
          sed -i "s/{placeholder}/${{ github.event.pull_request.number }}/g" .ci/azure/parameters.json

      - name: Provision Azure resources
        shell: bash
        run: |
          docker run \
            -e AZURE_TENANT_ID="${{ vars.AZURE_TENANT_ID }}" \
            -e SERVICE_PRINCIPAL_ID="${{ secrets.CI_SERVICE_PRINCIPAL_ID }}" \
            -e SERVICE_PRINCIPAL_PASSWORD="${{ secrets.CI_SERVICE_PRINCIPAL_PASSWORD }}" \
            -v "${{ github.workspace }}/.ci/azure/parameters.json:/azure/parameters.json:ro" \
            ghcr.io/torqit/pimcore-azure-provisioning:2 \
            bash -c ' \
              az login \
                --tenant "$AZURE_TENANT_ID" \
                --service-principal \
                  --username "$SERVICE_PRINCIPAL_ID" \
                  --password "$SERVICE_PRINCIPAL_PASSWORD" \
              && ./provision.sh parameters.json
            '

  # TODO requires manual creation of GitHub Environment and variables. In future would be good to automate this - or perhaps move the workflow to use "inputs"
  test-deploy-to-azure-container-apps-workflow:
    name: "Test deploy to Azure Container Apps workflow"
    needs: provision-azure-resources
    uses: ./.github/workflows/deploy-to-azure-container-apps.yml
    with:
      ENVIRONMENT: ci
      PROJECT_REPOSITORY: github.com/TorqIT/pimcore-skeleton
      PROJECT_REPOSITORY_REF: 2024.x
    secrets:
      SERVICE_PRINCIPAL_ID: ${{ secrets.CI_SERVICE_PRINCIPAL_ID }}
      SERVICE_PRINCIPAL_PASSWORD: ${{ secrets.CI_SERVICE_PRINCIPAL_PASSWORD }}

  destroy-azure-resources:
    name: "Destroy Azure resources"
    runs-on: ubuntu-latest
    environment: ci
    if: github.event.action == 'closed'
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up tools
        uses: ./.github/actions/setup-tools

      - name: Prepare Azure parameters
        run: |
          sed -i "s/{placeholder}/${{ github.event.pull_request.number }}/g" .ci/azure/parameters.json

      - name: Destroy Azure resources
        shell: bash
        run: |
          docker run \
            -e AZURE_TENANT_ID="${{ vars.AZURE_TENANT_ID }}" \
            -e SERVICE_PRINCIPAL_ID="${{ secrets.CI_SERVICE_PRINCIPAL_ID }}" \
            -e SERVICE_PRINCIPAL_PASSWORD="${{ secrets.CI_SERVICE_PRINCIPAL_PASSWORD }}" \
            -v "${{ github.workspace }}/.ci/azure/parameters.json:/azure/parameters.json:ro" \
            ghcr.io/torqit/pimcore-azure-provisioning:2 \
            bash -c ' \
              az login \
                --tenant "$AZURE_TENANT_ID" \
                --service-principal \
                  --username "$SERVICE_PRINCIPAL_ID" \
                  --password "$SERVICE_PRINCIPAL_PASSWORD" \
              && az group delete --name $(jq -r ".resourceGroupName.value" /azure/parameters.json) --yes --no-wait \
              && az keyvault purge --name $(jq -r ".keyVaultName.value" /azure/parameters.json)
            '
