name: "CI"

on:
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  lint:
    name: "Lint codebase"
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up tools
        uses: ./.github/actions/setup-tools

      - name: Lint files
        uses: ./.github/actions/lint

  build-pimcore-skeleton-images:
    name: "Build Pimcore Skeleton Docker images"
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up tools
        uses: ./.github/actions/setup-tools

      - name: Checkout TorqIT/pimcore-skeleton:2024.x
        uses: actions/checkout@v4
        with:
          repository: TorqIT/pimcore-skeleton
          ref: 2024.x
          path: pimcore-skeleton

      - name: Build init image
        uses: ./.github/actions/build-docker-image
        with:
          DOCKERFILE_PATH: "./pimcore-skeleton/.docker/Dockerfile"
          DOCKERFILE_TARGET: "init"
          PIMCORE_ROOT: "./pimcore-skeleton"
          DOCKER_CONTEXT: "./pimcore-skeleton"
          TAGS: "init:ci"

      - name: Build PHP image
        uses: ./.github/actions/build-docker-image
        with:
          DOCKERFILE_PATH: "./pimcore-skeleton/.docker/Dockerfile"
          DOCKERFILE_TARGET: "php"
          PIMCORE_ROOT: "./pimcore-skeleton"
          DOCKER_CONTEXT: "./pimcore-skeleton"
          TAGS: "php:ci"

      - name: Build supervisord image
        uses: ./.github/actions/build-docker-image
        with:
          DOCKERFILE_PATH: "./pimcore-skeleton/.docker/Dockerfile"
          DOCKERFILE_TARGET: "supervisord"
          PIMCORE_ROOT: "./pimcore-skeleton"
          DOCKER_CONTEXT: "./pimcore-skeleton"
          TAGS: "supervisord:ci"

      # TODO run tests...

      - name: Push init image
        uses: ./.github/actions/push-docker-image
        with:
          BUILD_TAG: "init:ci"
          CONTAINER_REGISTRY: ghcr.io/torqit/pimcore-skeleton/init
          CONTAINER_REGISTRY_USERNAME: ${{ github.actor }}
          CONTAINER_REGISTRY_PASSWORD: ${{ github.token }}
          PUSH_TAGS: "ghcr.io/torqit/pimcore-skeleton/init:${{ github.event.pull_request.number }}"

      - name: Push PHP image
        uses: ./.github/actions/push-docker-image
        with:
          BUILD_TAG: "php:ci"
          CONTAINER_REGISTRY: ghcr.io/torqit/pimcore-skeleton/php
          CONTAINER_REGISTRY_USERNAME: ${{ github.actor }}
          CONTAINER_REGISTRY_PASSWORD: ${{ github.token }}
          PUSH_TAGS: "ghcr.io/torqit/pimcore-skeleton/php:${{ github.event.pull_request.number }}"

      - name: Push supervisord image
        uses: ./.github/actions/push-docker-image
        with:
          BUILD_TAG: "supervisord:ci"
          CONTAINER_REGISTRY: ghcr.io/torqit/pimcore-skeleton/supervisord
          CONTAINER_REGISTRY_USERNAME: ${{ github.actor }}
          CONTAINER_REGISTRY_PASSWORD: ${{ github.token }}
          PUSH_TAGS: "ghcr.io/torqit/pimcore-skeleton/supervisord:${{ github.event.pull_request.number }}"
