# META - CI workflow for this repository

name: CI

on:
  pull_request:

jobs:
  ci:
    name: CI
    runs-on: ubuntu-latest
    steps:
      - name: Lint all files
        uses: ./.github/actions/lint
