name: "CI for Azure Container Apps deployment"

on:
  pull_request:
    types: [opened, synchronize, reopened, closed]

env:
  CONTAINER_REGISTRY: ghcr.io/torqit/pimcore-github-actions-workflows

jobs:
  provision-azure-resources:
    name: "Provision Azure resources"
    runs-on: ubuntu-latest
    environment: ci
    if: github.event.action != 'closed'
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up tools
        uses: ./.github/actions/setup-tools

      - name: Prepare Azure parameters
        run: |
          sed -i "s/{placeholder}/${{ github.event.pull_request.number }}/g" .ci/azure/parameters.json

      - name: Provision Azure resources
        shell: bash
        run: |
          # AZURE_TENANT_ID=${{ vars.AZURE_TENANT_ID }} \
          AZURE_TENANT_ID="6f8ae12a-9b31-4877-b46f-c0590040b1fb" \
          SERVICE_PRINCIPAL_ID=${{ secrets.AZURE_SERVICE_PRINCIPAL_ID }} \
          SERVICE_PRINCIPAL_PASSWORD=${{ secrets.AZURE_SERVICE_PRINCIPAL_PASSWORD }} \
          docker run \
            -v "${{ github.workspace }}/.ci/azure/parameters.json:/azure/parameters.json:ro" \
            ghcr.io/torqit/pimcore-azure-provisioning:2 \
            bash -c " \
              az login \
                --tenant $AZURE_TENANT_ID \
                --service-principal \
                  --username $SERVICE_PRINCIPAL_ID \
                  --password $SERVICE_PRINCIPAL_PASSWORD \
              && ./provision.sh
            "

  deploy-to-container-apps:
    needs: provision-azure-resources
    uses: ./.github/workflows/deploy-to-azure-container-apps.yml
    with:
      ENVIRONMENT: ci
      PROJECT_REPOSITORY: github.com/TorqIT/pimcore-skeleton
      PROJECT_REPOSITORY_REF: 2024.x
    secrets: inherit

  destroy-azure-resources:
    name: "Destroy Azure resources"
    runs-on: ubuntu-latest
    environment: ci
    if: github.event.action == 'closed'
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up tools
        uses: ./.github/actions/setup-tools

      - name: Prepare Azure parameters
        run: |
          sed -i "s/{placeholder}/${{ github.event.pull_request.number }}/g" .ci/azure/parameters.json

      - name: Destroy Azure resources
        shell: bash
        continue-on-error: true
        run: |
          AZURE_TENANT_ID=${{ vars.AZURE_TENANT_ID }} \
          SERVICE_PRINCIPAL_ID=${{ secrets.AZURE_SERVICE_PRINCIPAL_ID }} \
          SERVICE_PRINCIPAL_PASSWORD=${{ secrets.AZURE_SERVICE_PRINCIPAL_PASSWORD }} \
          docker run \
            -v "${{ github.workspace }}/.ci/azure/parameters.json:/azure/parameters.json:ro" \
            ghcr.io/torqit/pimcore-azure-provisioning:2 \
            bash -c " \
              az login \
                --tenant $AZURE_TENANT_ID \
                --service-principal \
                  --username $SERVICE_PRINCIPAL_ID \
                  --password $SERVICE_PRINCIPAL_PASSWORD \
              && az group delete --name $(jq -r '.resourceGroupName.value' /azure/parameters.json) --yes --no-wait \
              && az keyvault purge --name $(jq -r '.keyVaultName.value' /azure/parameters.json)
            "
