name: Sync Test
on:
    push:
jobs:
    sync:
        name: Sync Source to Target
        uses: ./.github/workflows/job-azure-sync.yml
        permissions:
            contents: read
            actions: read
        with:
            AZURE_TENANT_ID: 6f8ae12a-9b31-4877-b46f-c0590040b1fb
            SOURCE_SUBSCRIPTION_ID: 27cab9a2-4a98-4eab-86ca-296494dbbcf2
            TARGET_SUBSCRIPTION_ID: 27cab9a2-4a98-4eab-86ca-296494dbbcf2
            TARGET_RESOURCE_GROUP: Test-Target
            TARGET_PHP_CONTAINER_APP: test-target-php
            TARGET_SUPERVISORD_CONTAINER_APP: test-target-supervisord
            SOURCE_STORAGE_ACCOUNT: testsourcetorq
            TARGET_STORAGE_ACCOUNT: testtargettorq
            SOURCE_MYSQL_HOST: test-source.mysql.database.azure.com
            SOURCE_MYSQL_USERNAME: adminuser
            SOURCE_MYSQL_DATABASE: pimcore
            TARGET_MYSQL_HOST: test-target.mysql.database.azure.com
            TARGET_MYSQL_USERNAME: adminuser
            TARGET_MYSQL_DATABASE: pimcore
            SOURCE_RESOURCE_GROUP: Test-Source
        secrets:
            SERVICE_PRINCIPAL_ID: ${{ secrets.SYNC_SERVICE_PRINCIPAL_ID }}
            SERVICE_PRINCIPAL_PASSWORD: ${{ secrets.SYNC_SERVICE_PRINCIPAL_PASSWORD }}
            SOURCE_MYSQL_PASSWORD: ${{ secrets.SOURCE_MYSQL_PASSWORD }}
            TARGET_MYSQL_PASSWORD: ${{ secrets.TARGET_MYSQL_PASSWORD }}
            # SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
